NEXT_PUBLIC_APP_LOCALE=
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_RECAPTCHA_PUBLIC_KEY=

# API Worker secrets
RECAPTCHA_SECRET_KEY=
CONTENTFUL_SPACE_ID=
CONTENTFUL_ACCESS_TOKEN=
BLEADIO_URL=
BLEADIO_API_KEY=
CONTENTFUL_WEBHOOK_SECRET=
GITHUB_TOKEN=
GITHUB_OWNER=
GITHUB_REPO=
GITHUB_DISPATCH_EVENT=
