@import "tailwindcss";

@plugin "tailwindcss-animate";

:root {
  --dirt-200: #d3d7d4;
  --dirt-400: #a9aea9;
  --dirt-600: #343c35;
  --dirt-800: #000c02;
  --swamp-200: #eaf2e3;
  --swamp-400: #dff1d1;
  --swamp-600: #9bb388;
  --swamp-800: #4c5f3c;
  --bruise-200: #ece2e9;
  --bruise-400: #d5bccd;
  --bruise-600: #a07b94;
  --bruise-800: #6e4260;

  --radius: 0.625rem;

  /* DEFAULT ACCENT */
  --default-accent-foreground: #6e4260;
}

@theme inline {
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-bluu);

  --color-background: var(--swamp-200);
  --color-foreground: var(--dirt-800);
  --color-card: var(--swamp-800);
  --color-card-foreground: var(--swamp-200);
  --color-popover: var(--dirt-200);
  --color-popover-foreground: var(--bruise-600);
  --color-primary: var(--bruise-800);
  --color-primary-foreground: var(--swamp-200);
  --color-secondary: var(--bruise-400);
  --color-secondary-foreground: var(--swamp-200);
  --color-muted: var(--dirt-600);
  --color-muted-foreground: var(--swamp-400);
  --color-accent: var(--swamp-400);
  --color-accent-foreground: var(--bruise-800);
  --color-destructive: var(--danger);
  --color-destructive-foreground: var(--dirt-800);
  --color-border: var(--dirt-800);
  --color-input: var(--dirt-800);
  --color-ring: var(--bruise-800);

  --color-info: #177592;
  --color-warning: #d5a021;
  --color-danger: #a24936;
  --color-system: #7f7b86;
  --color-success: #71bf95;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --nav-size: calc(var(--spacing) * 28);
  --height-navless: calc(100svh - var(--nav-size));
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-linear-to-r from-background via-teal-100 to-background text-foreground;
  }
}

@layer components {
  .grecaptcha-badge {
    visibility: hidden;
    opacity: 0;
  }
}

@utility bg-nav-metal {
  background-image:
    -webkit-repeating-linear-gradient(
      left,
      hsla(0, 0%, 100%, 0) 0%,
      hsla(0, 0%, 100%, 0) 0.6%,
      hsla(0, 0%, 100%, 0.1) 0.75%
    ),
    -webkit-repeating-linear-gradient(
        left,
        hsla(0, 0%, 0%, 0) 0%,
        hsla(0, 0%, 0%, 0) 0.4%,
        hsla(0, 0%, 0%, 0.03) 0.45%
      ),
    -webkit-repeating-linear-gradient(
        left,
        hsla(0, 0%, 100%, 0) 0%,
        hsla(0, 0%, 100%, 0) 0.12%,
        hsla(0, 0%, 100%, 0.015) 0.22%
      ),
    linear-gradient(
      180deg,
      hsl(0, 0%, 78%) 0%,
      hsl(0, 0%, 90%) 47%,
      hsl(0, 0%, 78%) 53%,
      hsl(0, 0%, 70%) 100%
    );
}

@utility bg-btn-metal {
  background-image:
    -webkit-repeating-linear-gradient(
      left,
      hsla(0, 0%, 100%, 0) 0%,
      hsla(0, 0%, 100%, 0) 6%,
      hsla(0, 0%, 100%, 0.1) 7.5%
    ),
    -webkit-repeating-linear-gradient(
        left,
        hsla(0, 0%, 0%, 0) 0%,
        hsla(0, 0%, 0%, 0) 4%,
        hsla(0, 0%, 0%, 0.03) 4.5%
      ),
    -webkit-repeating-linear-gradient(
        left,
        hsla(0, 0%, 100%, 0) 0%,
        hsla(0, 0%, 100%, 0) 1.2%,
        hsla(0, 0%, 100%, 0.015) 2.2%
      ),
    linear-gradient(
      180deg,
      hsl(0, 0%, 78%) 0%,
      hsl(0, 0%, 90%) 47%,
      hsl(0, 0%, 78%) 53%,
      hsl(0, 0%, 70%) 100%
    );
}
